.maincontainer{
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
    display: flex;
    z-index: 0;
    justify-content: center;
    position: relative;
}

.usercontainer{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 840px) {
    .usercontainer{
        flex-direction: column;
    }
}
