.maincontainer{
    width: 100vw;
    height: 100vh;
    margin: 80px;
    justify-content: center;
    display: flex;
    z-index: 0;
}

.usercontainer{
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 840px) {
    .usercontainer{
        flex-direction: column;
        align-items: center;
    }

    .contacts{
        align-items: center;
    }
}
